@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

/* Base CSS */
body {
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
}

button {
  transition: all 0.3s ease;
}

/* Mensaje Exito */
.toast-success {
  background-color: #22c55e;
  color: #0f172a;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Quitar Flachas Input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Chrome, Safari, Edge */
  -moz-appearance: textfield; /* Firefox */
}

/* Animacion Parpadeo */
@keyframes flash {
  0% {
    background-color: rgba(59, 130, 246, 0.2); /* azul primario suave */
  }
  100% {
    background-color: transparent;
  }
}

.flash-update {
  animation: flash 0.8s ease-in-out;
}
